html,
body {
  height: 100% !important;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  background-repeat: repeat;
  border: 0 !important;
  margin: 0;
  -ms-content-zooming:none;
  touch-action:none;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
}

.font-think {
  font-weight: 100;
}

.logo {
  background-image: url(../images/logo_sm.svg);
  background-size: auto 50%;
  height: 10%;
  background-repeat: no-repeat;
  background-color: white;
  background-position: 3% 50%;
}

.panel {
  display: flex;
  align-items: center;
  justify-content: center;
}

.panel .title {
  padding: 0 40px;
}

.card-body {
  padding: 1rem;
  min-height: 80px;
}

.card {
  width: 25%;
}

#Subject {
  max-width: 1200px;
}

@media (max-width: 800px) {
  .card {
    width: 33%;

  }
  #BtnBack {
    margin: 30px!important;
    width: 40px;
    height: 40px;
    padding: 9px 5px;
  }
}

.btn {
  cursor: pointer;
}

@media (max-width: 650px) {
  .panel .title {
    text-align: center;
  }

  #Subject {
    max-width: 800px;
  }
  .card {
    width: 50%;
  }
}



.card-title {
  font-variant-caps: all-petite-caps;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.btn-circle.btn-lg {
  width: 40px;
  height: 40px;
  padding: 10px 10px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 50%
}

.app-view {
  display: block;
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
}

.app-view-container {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

.cursor-pointer {
  cursor: pointer;
}



@@include('./css/login.css')
@@include('./css/subject.css')
@@include('./css/book.css')
@@include('./css/animate.css')
@@include('./css/images.css')