.book-nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 40px;
  list-style: none;
}

.book-nav-list {
  padding: 0;
}

.book-nav li {
  display: block;
  margin: 10px 5px;
  align-items: center;
  justify-content: center;
  float: left;
  cursor: pointer;
}

.book-nav li.nav-unit span {
  display: block;
  background-color: rgba(0,0,0,.5);
  font-size: 1rem;
  color: white;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
}

.book-nav li.nav-subblock span {
  display: block;
  border-radius: 50%;
  background-color: rgba(0,0,0,.5);
  font-size: 1rem;
  color: white;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  margin-left: 5px;
  position: relative;
}

.book-nav li.subblock span {
  width: 20px;
  height: 20px;
  line-height: 20px;
}