.book {
  background-image: url("../images/sm-trim.png");
  background-color: #8ac543;
  background-repeat: repeat;
  padding: 0 50px;
}

.book-layer-view {
  width: 100%;
  height: 100%;
  padding: 10px 0 0 40px;
  overflow-y: auto;
  max-width: 900px;
  margin: 0 auto;
}

.book-layer-view .subblock {
  background: white;
  padding-bottom: 50px;
}

.control-button {
  width: 50px;
  height: 100%;
  background-color: rgba(0,0,0,.3);
  position: absolute;
  top: 0;
}

.control-button:hover {
  background-color: rgba(0,0,0,.4);
}

.control-button.prev {
  left: 0;
}

.control-button.next {
  right: 0;
}

.control-button .glyphicon {
  color: rgba(255,255,255,.7);
  font-size: 1.5rem;
}

.control-button button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.subblock {
  list-style: none;
  display: none;
  position: relative;
}

.subblock.active {
  display: block;
}

li.nav-subblock.active span:after {
  content: '';
  width: 10px;
  height: 10px;
  background: white;
  position: absolute;
  left: 50%;
  top: 49%;
  display: block;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

@@include('./css/book_nav.css')