
@@include('./css/login_background.css')

.login {
  z-index: 2;
}
.login-form {
  display: block;
  position: absolute;
  padding: 80px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 16px -1px rgba(0,0,0,0.5);
  max-width: 600px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}


