*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box
}

html, body,
.netex h1, .netex h2, .netex h3, .netex h4, .netex h5, .netex h6, .netex p, .netex blockquote, .netex pre, .netex dl, .netex dd, .netex ol, .netex ul, .netex form, .netex fieldset, .netex legend, .netex table, .netex th, .netex td, .netex caption, .netex hr {
  margin: 0;
  padding: 0
}

.netex h1, .netex h2, .netex h3, .netex h4, .netex h5, .netex h6, .netex em, .netex strong, .netex cite {
  font-weight: normal;
  font-style: normal
}

.netex h1, .netex h2, .netex h3, .netex h4, .netex h5, .netex h6 {
  font-size: 100%
}

.netex sup {
  vertical-align: text-top
}

sub {
  vertical-align: text-bottom
}

.netex img {
  border: 0
}

.netex img {
  max-width: 100%;
  vertical-align: bottom
}

.sm-ui {
  background-image: url("../img/sm-une-science.png")
}

.sm-sidebar-ui, .sm-navbar-ui {
  background-image: url("../img/sm-sidebar-menu.png")
}

.netex ul, .netex ol {
  list-style-position: outside;
  margin-left: 1.3em
}

.netex ul {
  list-style-type: disc
}

.sm-list-circle {
  list-style: circle
}

.sm-list-lower {
  list-style: lower-alpha
}

.sm-list-upper {
  list-style: upper-alpha
}

@font-face {
  font-family: seropro-regular;
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/seropro-regular.eot");
  src: url("../fonts/seropro-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/seropro-regular.woff") format("woff"), url("../fonts/seropro-regular.ttf") format("truetype"), url("../fonts/seropro-regular.svg#seropro-regular") format("svg")
}

@font-face {
  font-family: seropro-italic;
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/seropro-italic.eot");
  src: url("../fonts/seropro-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/seropro-italic.woff") format("woff"), url("../fonts/seropro-italic.ttf") format("truetype"), url("../fonts/seropro-italic.svg#seropro-italic") format("svg")
}

@font-face {
  font-family: seropro-bold;
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/seropro-bold.eot");
  src: url("../fonts/seropro-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/seropro-bold.woff") format("woff"), url("../fonts/seropro-bold.ttf") format("truetype"), url("../fonts/seropro-bold.svg#seropro-bold") format("svg")
}

@font-face {
  font-family: seropro-bolditalic;
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/seropro-bolditalic.eot");
  src: url("../fonts/seropro-bolditalic.eot?#iefix") format("embedded-opentype"), url("../fonts/seropro-bolditalic.woff") format("woff"), url("../fonts/seropro-bolditalic.ttf") format("truetype"), url("../fonts/seropro-bolditalic.svg#seropro-bolditalic") format("svg")
}

@font-face {
  font-family: seropro-medium;
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/seropro-medium.eot");
  src: url("../fonts/seropro-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/seropro-medium.woff") format("woff"), url("../fonts/seropro-medium.ttf") format("truetype"), url("../fonts/seropro-medium.svg#seropro-medium") format("svg")
}

@font-face {
  font-family: seropro-mediumitalic;
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/seropro-mediumitalic.eot");
  src: url("../fonts/seropro-mediumitalic.eot?#iefix") format("embedded-opentype"), url("../fonts/seropro-mediumitalic.woff") format("woff"), url("../fonts/seropro-mediumitalic.ttf") format("truetype"), url("../fonts/seropro-mediumitalic.svg#seropro-mediumitalic") format("svg")
}

@font-face {
  font-family: caslonpro-regular;
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/caslonpro-regular.eot");
  src: url("../fonts/caslonpro-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/caslonpro-regular.woff") format("woff"), url("../fonts/caslonpro-regular.ttf") format("truetype"), url("../fonts/caslonpro-regular.svg#caslonpro-regular") format("svg")
}

@font-face {
  font-family: caslonpro-bold;
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/caslonpro-bold.eot");
  src: url("../fonts/caslonpro-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/caslonpro-bold.woff") format("woff"), url("../fonts/caslonpro-bold.ttf") format("truetype"), url("../fonts/caslonpro-bold.svg#caslonpro-bold") format("svg")
}

@font-face {
  font-family: caslonpro-italic;
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/caslonpro-italic.eot");
  src: url("../fonts/caslonpro-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/caslonpro-italic.woff") format("woff"), url("../fonts/caslonpro-italic.ttf") format("truetype"), url("../fonts/caslonpro-italic.svg#caslonpro-italic") format("svg")
}

@font-face {
  font-family: caslonpro-bolditalic;
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/caslonpro-bolditalic.eot");
  src: url("../fonts/caslonpro-bolditalic.eot?#iefix") format("embedded-opentype"), url("../fonts/caslonpro-bolditalic.woff") format("woff"), url("../fonts/caslonpro-bolditalic.ttf") format("truetype"), url("../fonts/caslonpro-bolditalic.svg#caslonpro-bolditalic") format("svg")
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%
}

.netex {
  font-family: seropro-regular
}

.netex em {
  font-family: seropro-italic
}

.netex strong {
  font-family: seropro-bold
}

.netex em strong, .netex strong em {
  font-family: seropro-bolditalic
}

.netex sup, .netex sub {
  vertical-align: baseline;
  position: relative;
  top: -0.28571em;
  font-size: .77778em
}

.netex sub {
  top: .28571em
}

.netex p, .netex li {
  line-height: 1.22222em;
  margin-bottom: 1em
}

.sm-text-seromedium {
  font-family: seropro-medium
}

.sm-text-seromedium em {
  font-family: seropro-mediumitalic
}

.sm-text-seromedium strong {
  font-family: seropro-bold
}

.sm-text-seromedium em strong, .sm-text-seromedium strong em {
  font-family: seropro-bolditalic
}

.sm-navbar-name-small {
  font-family: seropro-regular;
  font-size: .75em
}

.sm-navbar-name-title {
  font-family: seropro-bold;
  font-size: 1em
}

.sm-sidebar-box > a {
  font-family: seropro-medium;
  font-size: .875em
}

.sm-sidebar-index a, .sm-sidebar-bookmark a {
  font-family: seropro-regular;
  font-size: .875em
}

.sm-subject-title {
  font-family: seropro-bold;
  font-size: 2.8125em;
  line-height: 1em
}

.sm-subject-title em {
  font-family: seropro-bolditalic
}

.sm-subject-subtitle {
  font-size: .875em
}

.sm-subject-pretitle {
  font-family: seropro-bold;
  font-size: 1.4375em
}

.sm-subject-summary-header h3 {
  font-family: seropro-bold;
  font-size: 1.4375em;
  line-height: 1.04348em
}

.sm-subject-summary-header em {
  font-family: seropro-bolditalic
}

.sm-subject-summary-content {
  font-size: 1.125em
}

.sm-subject-summary-content h3 {
  font-size: 1.27778em;
  font-family: seropro-medium;
  margin-bottom: .78261em
}

.sm-subject-summary-content h3 em {
  font-family: seropro-mediumitalic
}

.sm-subject-summary p:last-child, .sm-subject-summary ol:last-child li:last-child, .sm-subject-summary ul:last-child li:last-child {
  margin-bottom: 0
}

.sm-title-unit {
  font-size: 2.25em;
  font-family: seropro-bold;
  text-align: center
}

.sm-title-kicker {
  font-size: 1.4375em;
  font-family: seropro-medium
}

.sm-title-kicker em {
  font-family: seropro-mediumitalic
}

.sm-title-kicker strong {
  font-family: seropro-bold
}

.sm-title-kicker em strong, .sm-title-kicker strong em {
  font-family: seropro-bolditalic
}

.sm-section-title h2 {
  font-size: 2.125em;
  font-family: seropro-bold
}

.sm-section-title h2 em {
  font-family: seropro-bolditalic
}

.sm-section-subtitle h2 {
  font-size: 1.75em;
  font-family: seropro-bold
}

.sm-section-subtitle h2 em {
  font-family: seropro-bolditalic
}

.sm-section-content {
  font-size: 1.125em
}

.sm-section-content h3 {
  font-size: 1.27778em;
  font-family: seropro-medium
}

.sm-section-content h3 em {
  font-family: seropro-mediumitalic
}

.sm-section-content:last-child p:last-child, .sm-section-content:last-child ol:last-child li:last-child, .sm-section-content:last-child ul:last-child li:last-child {
  background-color: red
}

.sm-reading-text, .sm-reading-text-author {
  font-family: caslonpro-regular
}

.sm-reading-text {
  font-size: 1.11111em
}

.sm-reading-text p {
  margin-bottom: .7em
}

.sm-reading-text-author {
  font-size: .83333em;
  text-align: right
}

.sm-reading-text em, .sm-reading-text-author em {
  font-family: caslonpro-italic
}

.sm-reading-text strong, .sm-reading-text-author strong {
  font-family: caslonpro-bold
}

.sm-reading-text em strong, .sm-reading-text strong em, .sm-reading-text-author em strong, .sm-reading-text-author strong em {
  font-family: caslonpro-bolditalic
}

.sm-media-caption {
  font-size: .83333em
}

.sm-media-caption p:last-child {
  margin-bottom: 0
}

.sm-media-list {
  font-family: seropro-medium
}

.sm-activity h3 {
  font-family: seropro-medium;
  font-size: 1.27778em;
  margin-bottom: .78261em
}

.sm-activity h3 em {
  font-family: seropro-mediumitalic
}

.sm-highlight p:last-child, .sm-highlight ul:last-child li:last-child, .sm-highlight ol:last-child li:last-child {
  margin-bottom: 0
}

table p:last-child {
  margin-bottom: 0
}

.sm-arrowbox-header h3 {
  font-family: seropro-bold;
  font-size: 1.75em
}

.sm-arrowbox p:last-child, .sm-arrowbox ul:last-child li:last-child, .sm-arrowbox ol:last-child li:last-child {
  margin-bottom: 0
}

.sm-nutgraph-header {
  font-family: seropro-medium;
  font-size: 1.27778em
}

.sm-nutgraph-header em {
  font-family: seropro-mediumitalic
}

.sm-nutgraph-header strong {
  font-family: seropro-bold
}

.sm-nutgraph-header em strong .sm-nutgraph-header strong em {
  font-family: seropro-bolditalic
}

.sm-reading-text .sm-pullbox {
  font-family: seropro-regular;
  font-size: .9em
}

.sm-nutgraph p:last-child, .sm-nutgraph ul:last-child li:last-child, .sm-nutgraph ol:last-child li:last-child {
  margin-bottom: 0
}

.sm-modal-content p:last-child {
  margin-bottom: 0
}

.sm-gallery-footer {
  font-size: .9375em
}

.sm-gallery-footer p {
  margin-bottom: 0
}

.sm-gallery-counter {
  font-family: seropro-medium
}

.sm-footer {
  font-size: .9375em
}

.sm-navbar {
  background-color: #333;
  border-bottom: 1px solid #000;
  height: 45px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3
}

.sm-menu {
  height: 44px;
  line-height: 44px;
  float: left;
  margin-left: 45px;
  text-align: center;
  width: 44px
}

.sm-menu-icon {
  background-position: -155px 0;
  height: 28px;
  display: inline-block;
  vertical-align: middle;
  width: 26px
}

.sm-navbar-name {
  color: #fff;
  float: left;
  margin: 8px 0 0 20px
}

.sm-navbar-action {
  height: 44px;
  line-height: 44px;
  float: right;
  text-align: center;
  width: 44px
}

.sm-fullscreen {
  margin-right: 45px
}

.sm-outline, .sm-teachercontent {
  margin-right: 0
}

.sm-navbar-ui {
  display: inline-block;
  height: 28px;
  vertical-align: middle;
  width: 26px
}

.sm-fullscreen-icon {
  background-position: -130px 0
}

.sm-highlight-icon {
  background-position: -26px 0
}

.sm-teachercontent-icon {
  background-position: -103px 0
}

.sm-teachercontent-visible .sm-teachercontent-icon {
  background-position: -77px 0
}

.sm-nav {
  height: 75px;
  margin-top: -37px;
  position: fixed;
  top: 50%;
  width: 37px
}

.sm-nav-prev {
  left: 0
}

.sm-nav-next {
  right: 0
}

.sm-nav-arrow {
  background-color: #333;
  font-size: 0;
  height: 75px;
  line-height: 75px;
  position: absolute;
  text-align: center;
  -webkit-transition: background-color .5s ease-in-out;
  -moz-transition: background-color .5s ease-in-out;
  transition: background-color .5s ease-in-out;
  width: 37px;
  z-index: 2
}

.sm-arrow-prev, .sm-arrow-next {
  display: inline-block;
  height: 29px;
  vertical-align: middle;
  width: 18px
}

.sm-arrow-prev {
  background-position: -441px -101px
}

.sm-arrow-next {
  background-position: -462px -101px
}

.sm-nav:hover .sm-nav-arrow {
  background-color: #8ac543
}

.sm-nav-title {
  background-color: #333;
  color: #fff;
  height: 75px;
  padding: 22px 16px;
  position: absolute;
  width: 174px
}

.sm-nav-prev .sm-nav-title {
  left: -175px;
  -webkit-transition: left .5s ease-in-out;
  -moz-transition: left .5s ease-in-out;
  transition: left .5s ease-in-out
}

.sm-nav-prev:hover .sm-nav-title {
  left: 37px
}

.sm-nav-next .sm-nav-title {
  right: -175px;
  -webkit-transition: left .5s ease-in-out;
  -moz-transition: left .5s ease-in-out;
  transition: left .5s ease-in-out
}

.sm-nav-next:hover .sm-nav-title {
  right: 37px
}

.sm-sidebar {
  background-color: #202020;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  width: 310px;
  z-index: 2
}

.sm-sidebar-item:first-child {
  margin-top: 45px
}

.sm-sidebar-item {
  border-bottom: 1px solid #000;
  list-style: none;
  margin: 0;
  padding: 0
}

.sm-sidebar-box {
  border-left: 4px solid #959595;
  padding-left: 15px
}

.sm-sidebar-box:hover {
  border-left-color: #8ac543
}

.sm-sidebar-item a {
  color: #959595;
  text-decoration: none
}

.sm-sidebar-item a:hover {
  color: #fff
}

.sm-sidebar-item a.sm-selected {
  color: #fff
}

.sm-sidebar-box > a {
  display: block;
  height: 46px;
  padding: 10px 0
}

.sm-sidebar-item > a .sm-sidebar-ui {
  margin-right: 20px
}

.sm-sidebar-subnav {
  margin-left: 50px
}

.sm-sidebar-index ol {
  list-style: none;
  margin-left: 0
}

.sm-sidebar-index li {
  margin-bottom: 0
}

.sm-sidebar-index a {
  display: block;
  padding: 10px 0
}

.sm-bookmark-item {
  padding: 10px 0
}

.sm-bookmark-item:last-child {
  margin-bottom: 0
}

.sm-bookmark-box {
  background-color: transparent;
  border: 1px solid #808080;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  height: 28px;
  line-height: 28px;
  margin: 0;
  padding: 0 10px;
  vertical-align: middle;
  width: 190px
}

.netex input.sm-bookmark-box {
  background-color: transparent;
  border-color: #fff
}

.sm-sidebar-ui {
  display: inline-block;
  height: 28px;
  margin-right: 20px;
  vertical-align: bottom;
  width: 26px
}

.sm-index-icon {
  background-position: 0 0
}

.sm-bookmark-icon {
  background-position: -52px 0
}

.sm-delete-icon {
  background-position: -26px -28px
}

.sm-add-icon {
  background-position: 0 -28px
}

.sm-sidebar {
  -webkit-transform: translate3d(-310px, 0px, 0px);
  -moz-transform: translate3d(-310px, 0px, 0px);
  -o-transform: translate3d(-310px, 0px, 0px);
  transform: translate3d(-310px, 0px, 0px);
  -webkit-transition: transform .3s cubic-bezier(0.8, 0, 0.2, 1) .5s;
  -moz-transition: transform .3s cubic-bezier(0.8, 0, 0.2, 1) .5s;
  transition: transform .3s cubic-bezier(0.8, 0, 0.2, 1) .5s
}

.sm-sidebar-show {
  -webkit-transform: translate3d(0px, 0px, 0px);
  -moz-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate3d(0px, 0px, 0px)
}

.sm-sidebar-subnav {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height .3s cubic-bezier(0.8, 0, 0.2, 1) .5s;
  -moz-transition: max-height .3s cubic-bezier(0.8, 0, 0.2, 1) .5s;
  transition: max-height .3s cubic-bezier(0.8, 0, 0.2, 1) .5s
}

.sm-subnav-show {
  max-height: 9999px
}

.sm-subject {
  background-color: #8ac543;
  background-image: url(../img/sm-trim.png);
  min-height: 100%;
  padding-top: 90px;
  padding-bottom: 45px;
  width: 100%
}

.sm-subject-special {
  background-color: #ef5987
}

.sm-content {
  background-color: #fff;
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
  margin: auto;
  max-width: 710px;
  padding-top: 30px;
  position: relative;
  width: 90%
}

.sm-line:before, .sm-line:after {
  content: "";
  display: table
}

.sm-line:after {
  clear: both
}

.sm-block {
  float: left;
  margin-left: 5%
}

.sm-block:first-child {
  margin-left: 0
}

.sm-block-1 {
  width: 30%
}

.sm-block-1-5 {
  width: 47.5%
}

.sm-block-2 {
  width: 65%
}

.sm-textblock {
  float: right;
  margin-left: 5%;
  width: 47.5%
}

.sm-subject-badge {
  background-position: 0 0;
  color: #ef5987;
  height: 190px;
  line-height: 190px;
  left: 42px;
  position: absolute;
  top: -15px;
  width: 160px;
  z-index: 1;
}

.sm-subject-badge {
  font-family: seropro-bold;
  font-size: 7.3125em;
  text-align: center
}

.sm-subject-title {
  color: #8ac543;
  padding-right: 45px;
  margin-left: 242px;
  margin-bottom: 23px
}

.sm-subject-pretitle {
  color: #8ac543;
  padding-right: 45px;
  margin-left: 242px;
  margin-bottom: 0;
  margin-top: -18px
}

.sm-subject-subtitle {
  padding-right: 45px;
  margin-left: 242px;
  margin-bottom: 18px;
  margin-top: -23px
}

.sm-cover {
  margin: 0 auto;
  position: relative
}

.sm-cover-viatge {
  background-position: -494px -1px;
  bottom: 40px;
  height: 118px;
  left: 80px;
  position: absolute;
  width: 116px
}

.sm-subject-summary {
  background-color: #fff;
  border: 3px solid #ef5987;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  margin: -56px 45px 40px 45px;
  position: relative;

}

.sm-subject-summary-header {
  background-color: #ef5987;
  -webkit-border-radius: 0 14px 14px 0;
  -moz-border-radius: 0 14px 14px 0;
  -ms-border-radius: 0 14px 14px 0;
  -o-border-radius: 0 14px 14px 0;
  border-radius: 0 14px 14px 0;
  color: #fff;
  height: 67px;
  left: 0;
  padding: 10px 30px;
  position: absolute;
  top: -30px
}

.sm-subject-summary-header h3 span {
  color: #000;
  padding-left: 30px
}

.sm-summary-ribbon {
  background-position: -162px -101px;
  height: 97px;
  left: -15px;
  position: absolute;
  top: 0;
  width: 15px
}

.sm-subject-summary-content {
  padding: 4%
}

.sm-subject-summary-header ~ .sm-subject-summary-content {
  padding-top: 50px
}

.sm-subject-summary-content h3 {
  color: #ef5987
}

.sm-section-title {
  margin: 40px 0 30px 0;
  padding: 0 45px;
  position: relative
}

.sm-section-title:first-child {
  margin-top: 0
}

.sm-title-arrow {
  background-position: -162px -1px;
  height: 98px;
  left: -15px;
  position: absolute;
  top: 0;
  width: 60px;

}

.sm-title-unit {
  color: #fff;
  height: 68px;
  line-height: 68px;
  margin-left: 16px;
  width: 20px
}

.sm-title-kicker {
  padding-left: 16px
}

.sm-section-title h2 {
  color: #000;
  padding: 12px 0 0 16px
}

.sm-title-kicker + h2 {
  padding-top: 0
}

.sm-section-title-third .sm-title-arrow {
  background-position: -224px -1px
}

.sm-section-title-third h2 {
  color: #00b0c4
}

.sm-section-subtitle {
  margin: 0 0 18px 0
}

.sm-section-title + .sm-section-subtitle {
  margin: 50px 0 18px 0
}

.sm-subtitle-arrow {
  font-size: 0;
  position: relative
}

.sm-subtitle-arrow-part {
  display: inline-block;
  height: 46px;
  vertical-align: top
}

.sm-subtitle-arrow-start {
  background-position: -286px -1px;
  height: 76px;
  left: -15px;
  position: absolute;
  top: 0;
  width: 15px
}

.sm-section-subtitle-secondary .sm-subtitle-arrow-start {
  background-position: -338px -1px
}

.sm-subtitle-arrow-middle {
  color: #fff;
  font-size: 16px;
  line-height: 46px;
  padding-left: 45px
}

.sm-subtitle-arrow-end {
  background-position: -303px -1px;
  width: 33px
}

.sm-section-subtitle-secondary .sm-subtitle-arrow-end {
  background-position: -355px -1px
}

.sm-subtitle-arrow-middle {
  background-color: #8ac543
}

.sm-section-subtitle-secondary .sm-subtitle-arrow-middle {
  background-color: #ef5987
}

.sm-section-content {
  padding: 0 45px;
  position: relative
}

.sm-section-content:before, .sm-section-content:after {
  content: "";
  display: table
}

.sm-section-content:after {
  clear: both
}

.sm-section-content > h3 {
  margin-bottom: .78261em;
  margin-top: 1.73913em
}

.sm-section-content > h3:first-child {
  margin-top: .95652em
}

.sm-footer {
  border-top-style: solid;
  border-width: 1px;
  height: 70px;
  margin: 140px 45px 0 45px;
  position: relative
}

.sm-footer-click {
  position: relative;
  top: -30px;
  text-decoration: none;
  color: #333
}

.sm-footer-click + .sm-footer-click {
  margin-left: 10px
}

.sm-click-icon {
  background-position: -613px -56px;
  display: inline-block;
  height: 25px;
  margin-right: 6px;
  vertical-align: text-bottom;
  width: 29px
}

.sm-footer {
  border-color: #ccc
}

.sm-reading-text-author {
  margin-top: 1.2em
}

.sm-activity-item:before, .sm-activity-item:after {
  content: "";
  display: table
}

.sm-activity-item:after {
  clear: both
}

.sm-activity-item {
  margin-bottom: 18px;
  position: relative
}

.sm-activity-item:last-child {
  margin-bottom: 0
}

.sm-activity-teachermark {
  background-position: -231px -101px;
  height: 40px;
  position: absolute;
  right: -52px;
  top: 0;
  width: 42px
}

.sm-activity-teachermark-visible {
  background-position: -330px -130px
}

.sm-arrowbox .sm-activity-teachermark {
  right: -90px
}

.sm-activity-list {
  float: left;
  margin-top: -3px;
  width: 28px
}

.sm-activity-list span {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  color: #fff;
  display: block;
  height: 28px;
  line-height: 28px;
  text-align: center;
  width: 28px
}

.sm-activity-content {
  float: left;
  margin-left: 10px;
  width: -moz-calc(100% - 38px);
  width: -webkit-calc(100% - 38px);
  width: calc(100% - 38px)
}

.sm-activity-list span {
  background-color: #8ac543
}

.sm-activity-secondary .sm-activity-list span {
  background-color: #ef5987
}

.sm-activity h3 {
  color: #8ac543
}

.sm-activity-secondary h3 {
  color: #ef5987
}

.sm-highlight {
  background-color: #f8c2cf;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  margin-bottom: 18px;
  position: relative
}

.sm-highlight-content {
  padding: 22px 36px
}

.sm-highlight-flap {
  background-position: -274px -100px;
  bottom: -2px;
  height: 22px;
  position: absolute;
  right: -2px;
  width: 22px
}

.sm-highlight-content h3 {
  margin-bottom: .78261em
}

.sm-panel {
  margin-bottom: 18px;
  padding-left: 10px;
  position: relative
}

.sm-panel-triangle:after {
  border: 10px solid transparent;
  content: " ";
  height: 0;
  left: -10px;
  position: absolute;
  pointer-events: none;
  top: 2px;
  width: 0
}

.sm-panel {
  border-left: 10px solid #8ac543
}

.sm-activity .sm-panel {
  border-left: 10px solid #ef5987
}

.sm-panel-triangle, .sm-activity .sm-panel-triangle {
  border-left-color: #fff
}

.sm-panel-triangle:after {
  border-left-color: #8ac543
}

.sm-activity .sm-panel-triangle:after {
  border-left-color: #ef5987
}

.sm-arrowbox {
  border: 2px solid #8ac543;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  margin: 60px 0 40px 0;
  position: relative
}

.sm-arrowbox-header {
  position: absolute;
  right: 0;
  top: -23px
}

.sm-arrowbox-arrow {
  font-size: 0
}

.sm-arrowbox-part {
  display: inline-block;
  height: 46px;
  vertical-align: top
}

.sm-arrowbox-end {
  background-position: -390px -1px;
  height: 46px;
  width: 33px
}

.sm-arrowbox-middle {
  background-color: #8ac543;
  color: #fff;
  font-size: 16px;
  line-height: 46px;
  padding-right: 45px
}

.sm-arrowbox-start {
  background-position: -425px -1px;
  height: 76px;
  position: absolute;
  right: -15px;
  top: 0;
  width: 15px
}

.sm-arrowbox-content {
  padding: 22px 36px
}

.sm-arrowbox-secondary {
  border-color: #ef5987
}

.sm-arrowbox-secondary .sm-arrowbox-middle {
  background-color: #ef5987
}

.sm-arrowbox-secondary .sm-arrowbox-end {
  background-position: -442px -1px
}

.sm-arrowbox-secondary .sm-arrowbox-start {
  background-position: -477px -1px
}

.sm-media {
  margin-bottom: 18px
}

.sm-media-caption {
  background-color: #f5f5f5;
  padding: 15px
}

.sm-media-content {
  position: relative
}

.sm-media img {
  display: block
}

.sm-media-actions {
  font-size: 0;
  left: 0;
  padding: 0 15px;
  position: absolute;
  text-align: right;
  width: 100%;

}

.sm-cover-actions {
  bottom: auto;
  top: 15px
}

.sm-media-button {
  display: inline-block;
  margin-left: 18px
}

.sm-media-button {
  display: inline-block;
  margin-left: 18px
}

.sm-media-button {
  height: 40px;
  width: 39px
}

.sm-media-actions-textblock {
  float: left;
  font-size: 0
}

.sm-media-actions-textblock .sm-media-button {
  margin-left: 0;
  margin-right: 4px
}

.sm-section-title .sm-media-actions-textblock {
  margin: 10px 16px 0 16px
}

.sm-media-actions-textblock + h2 {
  line-height: 1.2
}

.sm-icon-music, .sm-icon-video, .sm-icon-picture, .sm-icon-document, .sm-icon-interactive, .sm-icon-link, .sm-icon-more, .sm-icon-tool {
  height: 40px;
  display: block;
  width: 39px
}

.sm-media-actions-dark .sm-icon-music, .sm-media-actions-textblock .sm-icon-music {
  background-position: -1px -200px
}

.sm-media-actions-dark .sm-icon-music:hover, .sm-media-actions-textblock .sm-icon-music:hover {
  background-position: -1px -242px
}

.sm-media-actions-dark .sm-icon-video, .sm-media-actions-textblock .sm-icon-video {
  background-position: -165px -200px
}

.sm-media-actions-dark .sm-icon-video:hover, .sm-media-actions-textblock .sm-icon-video:hover {
  background-position: -165px -242px
}

.sm-media-actions-dark .sm-icon-picture, .sm-media-actions-textblock .sm-icon-picture {
  background-position: -329px -200px
}

.sm-media-actions-dark .sm-icon-picture:hover, .sm-media-actions-textblock .sm-icon-picture:hover {
  background-position: -329px -242px
}

.sm-media-actions-dark .sm-icon-document, .sm-media-actions-textblock .sm-icon-document {
  background-position: -492px -200px
}

.sm-media-actions-dark .sm-icon-document:hover, .sm-media-actions-textblock .sm-icon-document:hover {
  background-position: -492px -242px
}

.sm-media-actions-dark .sm-icon-interactive, .sm-media-actions-textblock .sm-icon-interactive {
  background-position: -657px -200px
}

.sm-media-actions-dark .sm-icon-interactive:hover, .sm-media-actions-textblock .sm-icon-interactive:hover {
  background-position: -657px -242px
}

.sm-media-actions-dark .sm-icon-link, .sm-media-actions-textblock .sm-icon-link {
  background-position: -821px -200px
}

.sm-media-actions-dark .sm-icon-link:hover, .sm-media-actions-textblock .sm-icon-link:hover {
  background-position: -821px -242px
}

.sm-media-actions-dark .sm-icon-more, .sm-media-actions-textblock .sm-icon-more {
  background-position: -985px -200px
}

.sm-media-actions-dark .sm-icon-more:hover, .sm-media-actions-textblock .sm-icon-more:hover {
  background-position: -985px -242px
}

.sm-media-actions-dark .sm-icon-tool, .sm-media-actions-textblock .sm-icon-tool {
  background-position: -1149px -200px
}

.sm-media-actions-dark .sm-icon-tool:hover, .sm-media-actions-textblock .sm-icon-tool:hover {
  background-position: -1149px -242px
}

.sm-media-actions-light .sm-icon-music {
  background-position: -42px -200px
}

.sm-media-actions-light .sm-icon-music:hover {
  background-position: -42px -242px
}

.sm-media-actions-light .sm-icon-video {
  background-position: -206px -200px
}

.sm-media-actions-light .sm-icon-video:hover {
  background-position: -206px -242px
}

.sm-media-actions-light .sm-icon-picture {
  background-position: -370px -200px
}

.sm-media-actions-light .sm-icon-picture:hover {
  background-position: -370px -242px
}

.sm-media-actions-light .sm-icon-document {
  background-position: -534px -200px
}

.sm-media-actions-light .sm-icon-document:hover {
  background-position: -534px -242px
}

.sm-media-actions-light .sm-icon-interactive {
  background-position: -698px -200px
}

.sm-media-actions-light .sm-icon-interactive:hover {
  background-position: -698px -242px
}

.sm-media-actions-light .sm-icon-link {
  background-position: -862px -200px
}

.sm-media-actions-light .sm-icon-link:hover {
  background-position: -862px -242px
}

.sm-media-actions-light .sm-icon-more {
  background-position: -1026px -200px
}

.sm-media-actions-light .sm-icon-more:hover {
  background-position: -1026px -242px
}

.sm-media-actions-light .sm-icon-tool {
  background-position: -1190px -200px
}

.sm-media-actions-light .sm-icon-tool:hover {
  background-position: -1190px -242px
}

.sm-media-actions-teacherdark .sm-icon-music, .sm-media-actions-textblockteacher .sm-icon-music {
  background-position: -83px -200px
}

.sm-media-actions-teacherdark .sm-icon-music:hover, .sm-media-actions-textblockteacher .sm-icon-music:hover {
  background-position: -83px -242px
}

.sm-media-actions-teacherdark .sm-icon-video, .sm-media-actions-textblockteacher .sm-icon-video {
  background-position: -247px -200px
}

.sm-media-actions-teacherdark .sm-icon-video:hover, .sm-media-actions-textblockteacher .sm-icon-video:hover {
  background-position: -247px -242px
}

.sm-media-actions-teacherdark .sm-icon-picture, .sm-media-actions-textblockteacher .sm-icon-picture {
  background-position: -411px -200px
}

.sm-media-actions-teacherdark .sm-icon-picture:hover, .sm-media-actions-textblockteacher .sm-icon-picture:hover {
  background-position: -411px -242px
}

.sm-media-actions-teacherdark .sm-icon-document, .sm-media-actions-textblockteacher .sm-icon-document {
  background-position: -575px -200px
}

.sm-media-actions-teacherdark .sm-icon-document:hover, .sm-media-actions-textblockteacher .sm-icon-document:hover {
  background-position: -575px -242px
}

.sm-media-actions-teacherdark .sm-icon-interactive, .sm-media-actions-textblockteacher .sm-icon-interactive {
  background-position: -739px -200px
}

.sm-media-actions-teacherdark .sm-icon-interactive:hover, .sm-media-actions-textblockteacher .sm-icon-interactive:hover {
  background-position: -739px -242px
}

.sm-media-actions-teacherdark .sm-icon-link, .sm-media-actions-textblockteacher .sm-icon-link {
  background-position: -903px -200px
}

.sm-media-actions-teacherdark .sm-icon-link:hover, .sm-media-actions-textblockteacher .sm-icon-link:hover {
  background-position: -903px -242px
}

.sm-media-actions-teacherdark .sm-icon-more, .sm-media-actions-textblockteacher .sm-icon-more {
  background-position: -1067px -200px
}

.sm-media-actions-teacherdark .sm-icon-more:hover, .sm-media-actions-textblockteacher .sm-icon-more:hover {
  background-position: -1067px -242px
}

.sm-media-actions-teacherdark .sm-icon-tool, .sm-media-actions-textblockteacher .sm-icon-tool {
  background-position: -1231px -200px
}

.sm-media-actions-teacherdark .sm-icon-tool:hover, .sm-media-actions-textblockteacher .sm-icon-tool:hover {
  background-position: -1231px -242px
}

.sm-media-actions-teacherlight .sm-icon-music {
  background-position: -123px -200px
}

.sm-media-actions-teacherlight .sm-icon-music:hover {
  background-position: -123px -242px
}

.sm-media-actions-teacherlight .sm-icon-video {
  background-position: -288px -200px
}

.sm-media-actions-teacherlight .sm-icon-video:hover {
  background-position: -288px -242px
}

.sm-media-actions-teacherlight .sm-icon-picture {
  background-position: -452px -200px
}

.sm-media-actions-teacherlight .sm-icon-picture:hover {
  background-position: -452px -242px
}

.sm-media-actions-teacherlight .sm-icon-document {
  background-position: -616px -200px
}

.sm-media-actions-teacherlight .sm-icon-document:hover {
  background-position: -616px -242px
}

.sm-media-actions-teacherlight .sm-icon-interactive {
  background-position: -780px -200px
}

.sm-media-actions-teacherlight .sm-icon-interactive:hover {
  background-position: -780px -242px
}

.sm-media-actions-teacherlight .sm-icon-link {
  background-position: -944px -200px
}

.sm-media-actions-teacherlight .sm-icon-link:hover {
  background-position: -944px -242px
}

.sm-media-actions-teacherlight .sm-icon-more {
  background-position: -1108px -200px
}

.sm-media-actions-teacherlight .sm-icon-more:hover {
  background-position: -1108px -242px
}

.sm-media-actions-teacherlight .sm-icon-tool {
  background-position: -1272px -200px
}

.sm-media-actions-teacherlight .sm-icon-tool:hover {
  background-position: -1272px -242px
}

.sm-icon-calculadora, .sm-icon-mentatleta, .sm-icon-dados {
  height: 39px;
  display: block;
  width: 39px
}

.sm-icon-calculadora {
  background-position: -1314px -201px
}

.sm-icon-mentatleta {
  background-position: -1354px -201px
}

.sm-icon-dados {
  background-position: -1394px -201px
}

.sm-media-actions {
  top: 15px
}

.sm-media-list {
  border: 1px solid #00a893;
  -webkit-border-radius: 0 5px;
  -moz-border-radius: 0 5px;
  -ms-border-radius: 0 5px;
  -o-border-radius: 0 5px;
  border-radius: 0 5px;
  color: #00a893;
  height: 22px;
  line-height: 22px;
  left: 10px;
  position: absolute;
  top: 10px;
  text-align: center;
  position: absolute;
  width: 22px
}

.sm-tooltip {
  background-color: #fff;
  border: 1px solid #0099cb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.75);
  color: #000;
  padding: 10px;
  position: absolute;
  width: 220px
}

.sm-tooltip:before {
  background-image: url("../img/sm-tooltip-lip.png");
  content: "";
  height: 16px;
  left: 50%;
  margin-left: -20px;
  position: absolute;
  top: -16px;
  width: 40px
}

.sm-tooltip-header {
  color: #09c
}

.sm-modal {
  background-color: #fff;
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -ms-border-radius: 4px 4px 4px 4px;
  -o-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  -webkit-box-shadow: 0 0 9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 9px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.75);
  overflow: hidden;
  position: absolute
}

.sm-modal-header {
  background-color: #ef5987;
  color: #fff;
  line-height: 35px
}

.sm-modal-header h3 {
  font-family: seropro-regular;
  font-size: 1.125em;
  padding: 0 13px
}

.sm-modal-close {
  background-position: -296px -101px;
  height: 16px;
  float: right;
  margin: 11px 13px 0 0;
  width: 16px
}

.sm-modal-content {
  border: 3px solid #ef5987;
  border-top: 0;
  padding: 20px 10px;
  position: relative
}

.sm-modal-text {
  height: 250px;
  overflow-y: auto;
  width: 480px
}

.sm-gallery-prev, .sm-gallery-next {
  height: 28px;
  margin-top: -14px;
  position: absolute;
  top: 50%;
  width: 19px;

}

.sm-gallery-prev {
  background-position: -360px -101px;
  left: 20px
}

.sm-gallery-prev:hover {
  background-position: -380px -101px
}

.sm-gallery-next {
  background-position: -400px -101px;
  right: 20px
}

.sm-gallery-next:hover {
  background-position: -421px -101px
}

.sm-gallery-wrap {
  overflow: hidden;
  position: relative
}

.sm-gallery-item {
  position: absolute
}

.sm-gallery-footer {
  background-color: #f5f5f5;
  display: table;
  height: 54px;
  width: 100%
}

.sm-gallery-text {
  display: table-cell
}

.sm-gallery-scroll {
  height: 54px;
  overflow-y: auto;
  padding: 5px 10px
}

.sm-gallery-text p {
  margin-bottom: 5px
}

.sm-gallery-paginator {
  background-color: #ebebeb;
  height: 54px;
  line-height: 54px;
  display: table-cell;
  vertical-align: top;
  width: 80px
}

.sm-counter-shadow {
  background-position: -483px -100px;
  display: inline-block;
  height: 54px;
  vertical-align: middle;
  width: 9px
}

.netex-video-progress-bar .netex-video-progress-bar-inner, .netex-video-volume-panel .netex-video-volume-slider-foreground {
  background-color: #ef5987
}

.netex-audio-progress-bar .netex-audio-progress-bar-inner, .netex-audio-volume-panel .netex-audio-volume-slider-foreground {
  background-color: #ef5987
}

.netex table {
  border-collapse: collapse;
  border-spacing: 0
}

.netex table {
  border: 1px solid #ddd;
  width: 100%
}

.netex table caption {
  background-color: #ddd;
  padding: 16px
}

.netex table thead, .netex table tr th, .netex table tfoot {
  background-color: #f5f5f5
}

.netex table th {
  text-align: left
}

.netex table th, .netex table td {
  border: 1px solid #ddd;
  padding: 8px
}

.netex table tr.even, .netex table tr:nth-of-type(2n) {
  background-color: #f9f9f9
}

.sm-section-content table {
  width: 100%;
  border: 1px solid #8ac543
}

.sm-section-content table tr td {
  border: 1px solid #8ac543
}

.sm-section-content table tr th {
  border: 1px solid #8ac543;
  background-color: #d7e487
}

.sm-section-content table tr.even, .sm-section-content table tr:nth-of-type(2n) {
  background-color: #fff;
  border: 1px solid #8ac543
}

#popupView {
  z-index: 5000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none
}

#popupView .sm-section-content {
  margin: 0;
  padding: 0
}

#popupOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: .8
}

.sm-section-content table tr th {
  font-weight: normal
}

.netex iframe {
  border: 0
}


.sm-subject a, .sm-tooltip a {
  text-decoration: none;
  color: #09C
}

.sm-subject img {
  height: auto
}

.sm-text-seroregular {
  font-family: seropro-regular
}

.sm-text-serobold {
  font-family: seropro-bold
}

.sm-text-caslonregular {
  font-family: caslonpro-regular
}

.sm-text-caslonbold {
  font-family: caslonpro-bold
}

.floated-left {
  margin-left: 0;
  margin-right: 5%;
  float: left
}

.cleared {
  clear: both
}

.netex ol, .netex ul {
  margin-left: 1.2em
}

.sm-arrowbox-middle h3 {
  color: #fff
}

.sm-activity-list span {
  font-weight: bold
}

.sm-subject, .sm-subject-special {
  -moz-transition: background-color 1s ease-in-out;
  -webkit-transition: background-color 1s ease-in-out;
  transition: background-color 1s ease-in-out
}

.changeNextPage {
  -moz-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -moz-transform: translate3d(-1000px, 0, 0);
  -webkit-transform: translate3d(-1000px, 0, 0);
  transform: translate3d(-1000px, 0, 0);
  -moz-transition: transform .6s ease-in-out, opacity .6s;
  -webkit-transition: -webkit-transform .6s ease-in-out, -webkit-opacity .6s;
  -webkit-transition: transform .6s ease-in-out, opacity .6s;
  transition: transform .6s ease-in-out, opacity .6s
}

.changePrevPage {
  -moz-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -moz-transform: translate3d(1000px, 0, 0);
  -webkit-transform: translate3d(1000px, 0, 0);
  transform: translate3d(1000px, 0, 0);
  -moz-transition: -moz-transform .6s ease-in-out, -moz-opacity .6s;
  -webkit-transition: -webkit-transform .6s ease-in-out, -webkit-opacity .6s;
  -webkit-transition: transform .6s ease-in-out, opacity .6s;
  transition: transform .6s ease-in-out, opacity .6s
}

.sm-content {
  display: none
}

.sm-navbar .header-bar {
  position: relative;
  color: white;
  width: 100%;
  max-width: 710px;
  margin: 0 auto
}

.sm-nav {
  z-index: 10;
  -moz-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -moz-transition: -moz-opacity 1s;
  -webkit-transition: -webkit-opacity 1s;
  transition: opacity 1s
}

.sm-nav.off {
  -moz-opacity: .4;
  -webkit-opacity: .4;
  opacity: .4;
  -moz-transition: -moz-opacity 1s;
  -webkit-transition: -webkit-opacity 1s;
  transition: opacity 1s
}

.sm-nav-prev .sm-nav-title {
  left: auto;
  display: none;
  opacity: 0;
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out
}

.sm-nav-prev:hover .sm-nav-title {
  display: block;
  opacity: 1;
  left: 37px
}

.sm-nav-next .sm-nav-title {
  right: auto;
  display: none;
  opacity: 0;
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out
}

.sm-nav-next:hover .sm-nav-title {
  display: block;
  opacity: 1;
  right: 37px
}

.sm-nav.off .sm-nav-title {
  display: none
}

.sm-nav.off .sm-nav-arrow:hover {
  background-color: #333;
  cursor: default
}

.sm-arrowbox p:last-child, .sm-arrowbox ul:last-child li:last-child, .sm-arrowbox ol:last-child li:last-child {
  margin-bottom: 1em
}

.sm-arrowbox > p:last-child, .sm-arrowbox > ul:last-child li:last-child, .sm-arrowbox > ol:last-child li:last-child {
  margin-bottom: 0
}

.sm-section-content:last-child p:last-child, .sm-section-content:last-child ol:last-child li:last-child, .sm-section-content:last-child ul:last-child li:last-child {
  background-color: transparent
}

.modal-shadow {
  position: fixed;
  display: none;
  z-index: 99;
  width: 100%;
  height: 100%;
  background-color: #fff;
  -moz-opacity: .8;
  -webkit-opacity: .8;
  opacity: .8
}

.modal-container {
  display: none;
  z-index: 100;
  position: fixed;
  margin: auto
}

.sm-arrowbox-content h3 {
  font-size: 1.27778em;
  font-family: seropro-medium;
  margin-bottom: .78261em;
  margin-top: 1em
}

.sm-teachernocontent-icon {
  background-position: -104px 0
}

.sm-gallery-item {
  height: auto;
  width: 100%;
  left: 0
}

.sm-navbar {
  z-index: 12;
  -moz-transition: -moz-opacity 1s;
  -webkit-transition: -webkit-opacity 1s;
  transition: opacity 1s
}

.sm-sidebar {
  z-index: 11
}

body.package-learner .sm-teacher, body.package-learner .sm-teachercontent, body.package-learner .teacher, body.package-learner .sm-activity-teachermark {
  display: none !important
}

.sm-media-list {
  z-index: 10
}

.sm-reading-text-author p {
  margin-bottom: 4px
}

#tooltipContainer .sm-tooltip {
  opacity: 0;
  z-index: 50
}

.devHighlight {
  background-color: #fff2a8
}

.sm-sidebar {
  -webkit-transform: translate3d(-310px, 0px, 0px);
  -moz-transform: translate3d(-310px, 0px, 0px);
  -o-transform: translate3d(-310px, 0px, 0px);
  -ms-transform: translate3d(-310px, 0px, 0px);
  transform: translate3d(-310px, 0px, 0px);
  -webkit-transition: -webkit-transform .5s cubic-bezier(0.8, 0, 0.2, 1) .5s, -webkit-opacity 1s;
  -webkit-transition: transform .5s cubic-bezier(0.8, 0, 0.2, 1) .5s, -webkit-opacity 1s;
  -moz-transition: -moz-transform .5s cubic-bezier(0.8, 0, 0.2, 1) .5s, -moz-opacity 1s;
  -ms-transition: -ms-transform .5s cubic-bezier(0.8, 0, 0.2, 1) .5s, opacity 1s;
  transition: transform .5s cubic-bezier(0.8, 0, 0.2, 1) .5s, opacity 1s;
  position: fixed;
  top: 0
}

.sm-sidebar-show {
  -webkit-transform: translate3d(0px, 0px, 0px);
  -moz-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate3d(0px, 0px, 0px);
  -ms-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px)
}

.sm-counter-shadow {
  margin-right: 8px
}

.netex-center {
  position: fixed;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50.1%);
  -o-transform: translate(-50%, -50.1%);
  -webkit-transform: translate(-50%, -50.1%);
  -ms-transform: translate(-50%, -50.1%);
  transform: translate(-50%, -50.1%)
}

.sm-gallery-footer {
  overflow-y: auto;
  height: 55px
}

.hr-component {
  margin-top: 2.8em;
  margin-bottom: 2.8em;
  border: 0;
  height: 3px
}

.fixed-hidden {
  opacity: 0 !important
}

.netex-video-player {
  position: relative
}

.netex-video-container {
  position: relative
}

.netex-video-player video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  vertical-align: bottom;
  background-color: #000
}

.netex-video-player canvas {
  width: 100%;
  top: 0;
  left: 0;
  vertical-align: bottom
}

.netex-video-player img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

}

.netex-video-subtitle-selector {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
  display: none
}

.netex-video-subtitle-selector .netex-video-subtitle-selector-options {
  background-color: white;
  width: 100%
}

.netex-video-subtitle-selector .netex-video-subtitle-option {
  height: 30px;
  margin-left: 20px;
  background-color: white;
  color: #000;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  vertical-align: bottom;
  font-family: Arial, Helvetica;
  font-size: 15px;
  line-height: 30px
}

.netex-video-subtitle-selector .netex-video-subtitle-option:hover {
  color: #999
}

.netex-video-subtitle-selector .active .netex-video-subtitle-option-icon {
  display: inline-block;
  width: 30px;
  height: 27px;
  background-image: url(sprite_tools_video.png);
  background-position: -211px 0;
  float: right;
  margin-top: 5px
}

.netex-video-subtitle-selector .netex-video-subtitle-title {
  background-color: #777;
  height: 36px;
  position: relative
}

.netex-video-subtitle-selector .netex-video-subtitle-title h1 {
  margin: 0 0 0 20px;
  font-family: Arial, Helvetica;
  font-size: 18px;
  line-height: 20px;
  position: absolute;
  bottom: 5px
}

.netex-video-subtitle-container {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%
}

.netex-video-subtitle-container > div {
  display: none;
  color: #fff;
  font-family: Arial, Helvetica;
  font-size: 17px;
  margin: 12px 18px
}

.netex-video-subtitle-container > .active {
  display: block;
  text-align: center
}

.netex-video-controls {
  height: 29px;
  width: 100%;
  background-color: #1b1b1b;
  overflow: hidden
}

.netex-video-progress-bar-container {
  position: relative;
  height: 8px;
  background-color: #444
}

.netex-video-progress-bar {
  bottom: 0;
  left: 0;
  overflow: visible;
  position: absolute;
  width: 0;
  height: 8px;
  background-color: #777;
  cursor: pointer
}

.netex-video-progress-bar-inner {
  position: relative;
  width: 0;
  height: 8px;
  background-color: #ef5987
}

.netex-video-controls-item {
  margin-left: 12px;
  width: 29px;
  height: 27px;
  background-image: url(sprite_reproductor_video.png)
}

.netex-video-button-play-pause-restart {
  float: left;
  cursor: pointer;
  margin-top: 1px
}

.netex-video-button-play {
  background-position: 0 0
}

.netex-video-button-play:hover {
  background-position: 0 -27px
}

.netex-video-button-pause {
  background-position: -29px 0
}

.netex-video-button-pause:hover {
  background-position: -29px -27px
}

.netex-video-button-restart {
  background-position: -58px 0
}

.netex-video-button-restart:hover {
  background-position: -58px -27px
}

.netex-video-volume-control {
  float: left;
  cursor: pointer;
  height: 27px;
  margin-top: 1px
}

.netex-video-volume-control:hover .netex-video-volume-panel {
  width: 60px
}

.netex-video-volume-button {
  margin-left: 0;
  display: inline-block
}

.netex-video-volume-mute {
  background-position: -87px 0
}

.netex-video-volume-mute:hover {
  background-position: -87px -27px
}

.netex-video-volume-small {
  background-position: -116px 0
}

.netex-video-volume-small:hover {
  background-position: -116px -27px
}

.netex-video-volume-medium {
  background-position: -145px 0
}

.netex-video-volume-medium:hover {
  background-position: -145px -27px
}

.netex-video-volume-large {
  background-position: -174px 0
}

.netex-video-volume-large:hover {
  background-position: -174px -27px
}

.netex-video-volume-panel {
  width: 0;
  height: 27px;
  display: inline-block;
  overflow: hidden
}

.netex-video-volume-slider {
  width: 51px;
  display: block;
  overflow: hidden;
  position: relative;
  height: 7px;
  margin-top: 11px;
  margin-bottom: 9px;
  background-color: #757575
}

.netex-video-volume-slider-foreground {
  position: absolute;
  display: block;
  height: 7px;
  width: 50%;
  background-color: #ef5987
}

.netex-video-time-container {
  float: left;
  font-family: Arial, Helvetica;
  font-size: 11px;
  line-height: 27px;
  height: 27px;
  margin-top: 1px
}

.netex-video-time-current {
  color: #ddd;
  vertical-align: middle
}

.netex-video-time-separator, .netex-video-time-duration {
  color: #777;
  vertical-align: middle
}

.netex-video-tools-item {
  float: right;
  cursor: pointer;
  width: 30px;
  height: 27px;
  background-image: url(sprite_tools_video.png);
  margin-top: 1px
}

.netex-video-button-fullscreen-enter {
  width: 31px;
  background-position: -149px 0
}

.netex-video-button-fullscreen-enter:hover {
  background-position: -149px -27px
}

.netex-video-button-fullscreen-exit {
  width: 31px;
  background-position: -180px 0
}

.netex-video-button-fullscreen-exit:hover {
  background-position: -180px -27px
}

.netex-video-settings {
  width: 29px;
  background-position: -120px 0
}

.netex-video-settings:hover {
  background-position: -120px -27px
}

.netex-video-captions {
  width: 28px;
  background-position: -92px 0
}

.netex-video-captions:hover {
  background-position: -92px -27px
}

.netex-video-favorite {
  width: 29px;
  background-position: -63px 0
}

.netex-video-favorite:hover {
  background-position: -63px -27px
}

.netex-video-comments {
  width: 32px;
  background-position: -31px 0
}

.netex-video-comments:hover {
  background-position: -31px -27px
}

.netex-video-download {
  width: 31px;
  background-position: 0 0
}

.netex-video-download:hover {
  background-position: 0 -27px
}

.netex-video-player-fullscreen {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  overflow: hidden;
  position: fixed;
  z-index: 1000
}

.netex-video-player-fullscreen .netex-video-container {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  overflow: hidden;
  position: fixed;
  z-index: 1001;
  background-color: #000;
  margin-bottom: 37px
}

.netex-video-player-fullscreen .netex-video-controls-container {
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  position: fixed;
  z-index: 1002
}

.netex-video-player-fullscreen .netex-video-subtitle-container {
  z-index: 1003;
  bottom: 37px;
  width: 100%
}

.netex-video-player-fullscreen .netex-video-subtitle-selector {
  position: fixed;
  z-index: 1004
}

.android .netex-video-volume-control, .android .netex-video-download, .ios .netex-video-volume-control, .ios .netex-video-download {
  display: none
}

@media screen and (max-width: 480px) {
  .netex-video-volume-control, .netex-video-download, .netex-video-favorite, .netex-video-comments, .netex-video-settings {
    display: none
  }
}

.netex-audio-player {
  position: relative
}

.netex-audio-container {
  position: relative
}

.netex-audio-player audio {
  width: 100%;
  height: 37px;
  position: absolute;
  top: 0;
  left: 0;
  vertical-align: bottom
}

.netex-audio-player .netex-audio-poster {
  width: 451px;
  height: 145px;
  position: relative;
  background-size: cover
}

.netex-audio-player .netex-audio-poster-stop {
  background-image: url(audio_animado_stop.gif)
}

.netex-audio-player .netex-audio-poster-play {
  background-image: url(audio_animado_loop_015.gif)
}

.netex-audio-controls {
  height: 29px;
  width: 100%;
  background-color: #1b1b1b;
  overflow: hidden
}

.netex-audio-progress-bar-container {
  position: relative;
  height: 8px;
  background-color: #444
}

.netex-audio-progress-bar {
  bottom: 0;
  left: 0;
  overflow: visible;
  position: absolute;
  width: 0;
  height: 8px;
  background-color: #777;
  cursor: pointer
}

.netex-audio-progress-bar-inner {
  position: relative;
  width: 0;
  height: 8px;
  background-color: #db2a3a
}

.netex-audio-controls-item {
  margin-left: 12px;
  width: 29px;
  height: 27px;
  background-image: url(sprite_reproductor_audio.png)
}

.netex-audio-button-play-pause-restart {
  float: left;
  cursor: pointer;
  margin-top: 1px
}

.netex-audio-button-play {
  background-position: 0 0
}

.netex-audio-button-play:hover {
  background-position: 0 -27px
}

.netex-audio-button-pause {
  background-position: -29px 0
}

.netex-audio-button-pause:hover {
  background-position: -29px -27px
}

.netex-audio-button-restart {
  background-position: -58px 0
}

.netex-audio-button-restart:hover {
  background-position: -58px -27px
}

.netex-audio-volume-control {
  float: left;
  cursor: pointer;
  height: 27px;
  margin-top: 1px
}

.netex-audio-volume-control:hover .netex-audio-volume-panel {
  width: 60px
}

.netex-audio-volume-button {
  margin-left: 0;
  display: inline-block
}

.netex-audio-volume-mute {
  background-position: -87px 0
}

.netex-audio-volume-mute:hover {
  background-position: -87px -27px
}

.netex-audio-volume-small {
  background-position: -116px 0
}

.netex-audio-volume-small:hover {
  background-position: -116px -27px
}

.netex-audio-volume-medium {
  background-position: -145px 0
}

.netex-audio-volume-medium:hover {
  background-position: -145px -27px
}

.netex-audio-volume-large {
  background-position: -174px 0
}

.netex-audio-volume-large:hover {
  background-position: -174px -27px
}

.netex-audio-volume-panel {
  width: 0;
  height: 27px;
  display: inline-block;
  overflow: hidden
}

.netex-audio-volume-slider {
  width: 51px;
  display: block;
  overflow: hidden;
  position: relative;
  height: 7px;
  margin-top: 11px;
  margin-bottom: 9px;
  background-color: #757575
}

.netex-audio-volume-slider-foreground {
  position: absolute;
  display: block;
  height: 7px;
  width: 50%;
  background-color: #db2a3a
}

.netex-audio-time-container {
  float: left;
  font-family: Arial, Helvetica;
  font-size: 11px;
  line-height: 27px;
  height: 27px;
  margin-top: 1px
}

.netex-audio-time-current {
  color: #ddd;
  vertical-align: middle
}

.netex-audio-time-separator, .netex-audio-time-duration {
  color: #777;
  vertical-align: middle
}

.android .netex-audio-volume-control, .ios .netex-audio-volume-control {
  display: none
}

@media screen and (max-width: 480px) {
  .netex-audio-volume-control {
    display: none
  }
}