.subject {
  background-image: url(../images/677860.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 2;
}

.subject .card {
  opacity: 0;
}

.subject .card-body {
  background-color: #1a6ca0;
  padding: 15px;
  color: white;
  font-size: 18px;
  line-height: 18px;
}

.subject .list-container {
  max-width: 900px;
  margin: 20px auto;
  padding: 30px;
  background-image: linear-gradient(to right,#ededed,#fff 50%,#ededed);
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  height: calc(100vh - 40px);
  align-content: baseline;
}

@media (max-width: 650px) {
  .subject .list {
    overflow: auto;
    height: 100%;
  }

  .subject .card-title {
    font-size: 1rem;
  }
}
