<div class="book app-view">
  <div class="app-view-container">
    <div class="zoomViewport vw-100 vh-100">
      <div class="zoomContainer">
        <ul class="book-layer-view"></ul>
      </div>
    </div>
  </div>

  <div class="control-button prev">
    <button class="btn">
      <i class="glyphicon glyphicon-menu-left"></i>
    </button>
  </div>
  <div class="control-button next">
    <button class="btn">
      <i class="glyphicon glyphicon-menu-right"></i>
    </button>
  </div>
</div>

@@include('./html/book_nav.html')
