<div class="login app-view">
  <div class="app-view-container" >
    <div class="login-form aniview" data-av-animation="fadeIn">
      <h1>Iniciar sesión</h1>
      <form>
        <div class="form-group aniview slow" data-av-animation="fadeIn">
          <label for="exampleInputEmail1">Usuario</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group aniview slow" data-av-animation="fadeIn">
          <label for="exampleInputPassword1">Contraseña</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-group form-check text-right">
          <div id="login-remember-pass"><a href="/password">Restablecer contraseña</a></div>
          <input type="checkbox" class="form-check-input" id="exampleCheck1" data-toggle="toggle">
          <label class="form-check-label" for="exampleCheck1">Recuerdame</label>
        </div>
        <div class="btn btn-success w-100">Entrar</div>
      </form>
    </div>
  </div>
</div>